/* Intestazione */

/* Scritta del logo */
#textlogo{
    width: 170px;
}
/* sfondo del logo */
#logo{
    background-image: url(../img/img/pattern.png);
    background-repeat: repeat;
    background-size: contain;
    background-size: 270px;
    background-color: #4EA0FF;
    height: 70px;
}

/*/ Intestazione */


/* Info autore */
.autore{
    color: #808080;
    font-weight: bold;
}

#nomeautore{
    color: #20A9E5;
}

#data{
    font-size: 12px;
}
/*/ Info autore  */

/* Articolo */

/* Tabella */
.tabella{
    border-collapse: collapse;
}
.rigablu{
    background-color: #20A9E5;
    color: white;
}
.rigaazzurra{
    background-color: #B1E5F2;
}

/*/ Articolo  */

/* pubblicità */
.pubblicità{
    color: #808080;
}

.boxpubblicità{
    color: white;
    font-size: 25px;
}

#pubblicità1{
    background-image: url(../img/img/monitor.jpg);
    width: 312px;
    height: 208px;
}

#pubblicità2{
    background-image: url(../img/img/graph.jpg);
    width: 312px;
    height: 207px;
}
